@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;1,100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Princess+Sofia&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@500&family=Salsa&family=Young+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.header {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #4A5568 !important;
  padding: 10px 135px;
}
.header .navbar-brand {
  color: #F7FAFC;
  font-family: "Princess Sofia";
  font-weight: 400;
  font-size: 24px;
}
.header .navbar-nav {
  margin-left: 30px;
}
.header .navbar-nav .nav-item .nav-link {
  color: #CCC;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 16px;
}
.header .navbar-nav .nav-item .active {
  color: #fff !important;
}
.header .navbar-cart .btn {
  width: 96px;
  height: 36px;
  border-radius: 4px;
  border: 0px solid #EF9814;
  background: #EF9814;
  color: #fff;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 16px;
}
.header .navbar-cart .btn img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}
.header .dropdown .btn-1 {
  background: transparent;
  border: none;
}
.header .dropdown .btn-1:focus {
  box-shadow: none;
}
.header .dropdown .dropdown-menu {
  padding: 15px 25px;
  width: 350px;
  background: #4A5568;
  border: 1px solid #4A5568;
  border-radius: 0;
  margin-top: 15px;
  margin-left: -70px;
  color: #fff;
}
.header .dropdown .dropdown-menu p {
  font-family: "Raleway", sans-serif;
}
.header .dropdown .dropdown-menu .form-group .btn {
  height: 52px;
  color: #fff;
  border: 1px solid #EF9814;
  font-family: "Raleway", sans-serif;
}
.header .dropdown .dropdown-menu .form-group .btn:hover {
  background: #EF9814;
}

@media only screen and (max-width: 991px) {
  .navbar {
    padding: 10px 50px;
  }
  button.navbar-toggler {
    background: #EF9814;
    width: 56px;
    height: 36px;
    border: 1px solid #EF9814;
  }
  button.navbar-toggler:focus {
    border: 1px solid #EF9814;
    outline: 0 !important;
  }
  .dropdown-menu {
    margin-top: 40px !important;
    margin-left: -51px !important;
  }
}
@media only screen and (max-width: 576px) {
  .navbar {
    padding: 10px 20px !important;
  }
  .dropdown-menu {
    width: auto !important;
    margin-left: -21px !important;
  }
}
.cont {
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
}
.cont .menu {
  background: #F7FAFC;
  padding: 40px 60px 800px 60px;
}
.cont .menu ul {
  width: 200px;
}
.cont .menu ul li {
  padding: 10px;
  list-style: none;
}
.cont .menu ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #777;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
}
.cont .menu ul li img {
  padding-right: 20px;
}
.cont .menu .ul-2 {
  margin-left: 50px;
  margin-top: 10px;
}
.cont .menu .ul-2 li {
  padding: 0;
}
.cont .register {
  padding: 40px 100px;
}
.cont .register h1 {
  color: #000;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 36px;
}
.cont .register form {
  color: #333;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 12px;
}
.cont .register form .form-control {
  padding: 6px;
  margin-top: 25px;
  font-size: 13px;
}
.cont .register form .btn {
  margin-top: 15px;
  height: 52px;
  border-radius: 4px;
  border: 0px solid #3D81F5;
  background: #3D81F5;
  color: #fff;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 16px;
}
.cont .cards {
  background: #fff;
  padding: 114px 0px 0px 20px;
}
.cont .cards .card {
  width: 190px;
  height: 350px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  margin-top: 10px;
}
.cont .cards .card .card-body {
  padding-left: 0;
}
.cont .cards .card .card-body p {
  line-height: 21px;
  color: #333;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
}
.cont .cards .card .card-body .price {
  color: #333;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
}
.cont .cards .card img {
  border-radius: 0;
}
@media only screen and (max-width: 1200px) {
  .cont .menu {
    padding: 40px 60px 10px 60px;
  }
}
@media only screen and (max-width: 1024px) {
  .cont .menu {
    padding: 40px 0px 250px 30px;
  }
  .cont .cards {
    padding: 14px 0px 0px 50px;
  }
}
@media only screen and (max-width: 768px) {
  .cont .menu {
    padding: 40px 50px 20px 50px !important;
  }
  .cont .register {
    padding: 10px 60px 50px 60px !important;
  }
}
@media only screen and (max-width: 576px) {
  .cont .menu {
    padding: 40px 30px 20px 30px !important;
  }
  .cont .register {
    padding: 10px 40px !important;
  }
}
@media only screen and (max-width: 400px) {
  .cont .register {
    padding: 20px 15px !important;
  }
  .cont .register h1 {
    font-size: 20px !important;
  }
  .cont .cards {
    padding: 14px 15px 0px 15px !important;
  }
}

.footer {
  padding: 20px 120px 20px 120px;
}
.footer .details p {
  color: #AAA;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 16px;
}
.footer .details li {
  list-style: none;
}
.footer .details li a {
  text-decoration: none;
  color: #1451B8;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 12px;
}
@media only screen and (max-width: 1024px) {
  .footer {
    padding: 10px 40px 20px 40px;
  }
}
@media only screen and (max-width: 768px) {
  .footer {
    padding: 10px 30px 20px 30px;
  }
}
@media only screen and (max-width: 400px) {
  .footer {
    padding: 30px 5px 20px 5px;
  }
}

.modal-content {
  margin-top: 100px;
  padding: 30px 60px 40px 60px;
  font-family: "Raleway", sans-serif;
}
.modal-content .close-btn {
  font-size: 40px;
  font-weight: 400;
}
.modal-content .close-btn:focus {
  outline: 0 !important;
}
.modal-content .form-group {
  padding-top: 15px;
}
.modal-content .form-group .form-control {
  color: #333;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 12px;
}
.modal-content .form-group .form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
}
.modal-content .form-check {
  padding-top: 15px;
  color: #333;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 14px;
}
.modal-content .form-check .form-check-input {
  width: 16px;
  height: 16px;
  background: #C4C4C4;
  cursor: pointer;
}
.modal-content .btn {
  height: 52px;
  border-radius: 4px;
  border: 0px solid #3D81F5;
  background: #3D81F5;
  margin-top: 30px;
  color: #fff;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
}
@media only screen and (max-width: 576px) {
  .modal-content {
    margin-top: 50px;
    padding: 30px 30px 40px 30px;
  }
}/*# sourceMappingURL=addnew.css.map */