@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;1,100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Princess+Sofia&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@500&family=Salsa&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@mixin font() {
    font-family: 'Raleway', sans-serif;
}

@mixin max($value1, $value2, $value3, $value4) {
    color: $value1;
    font-family: $value2;
    font-weight: $value3;
    font-size: $value4;
}


// colors
$main-color: #fff;
$bg-color: #EF9814;
$dark-color: #333;


.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.header {
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: #4A5568 !important;
    padding: 10px 135px;

    .navbar-brand {
        @include max(#F7FAFC, 'Princess Sofia', 400, 24px);
    }

    .navbar-nav {
        margin-left: 30px;

        .nav-item {

            .nav-link {
                @include max(#CCC, 'Raleway', 500, 16px);
            }

            .active {
                color: $main-color !important;
            }
        }
    }

    .navbar-cart .btn {
        width: 96px;
        height: 36px;
        border-radius: 4px;
        border: 0px solid $bg-color;
        background: $bg-color;
        @include max(#fff, 'Raleway', 500, 16px);

        img {
            object-fit: contain;
            margin-right: 10px;
        }
    }

    // Login form start  
    .dropdown {
        .btn-1 {
            background: transparent;
            border: none;

            &:focus {
                box-shadow: none;
            }
        }

        .dropdown-menu {
            padding: 15px 25px;
            width: 350px;
            background: #4A5568;
            border: 1px solid #4A5568;
            border-radius: 0;
            margin-top: 15px;
            margin-left: -70px;
            color: $main-color;

            p {
                @include font();
            }

            .form-group .btn {
                height: 52px;
                color: $main-color;
                border: 1px solid $bg-color;
                @include font();

                &:hover {
                    background: $bg-color;
                }
            }

        }
    }

    // Login form ends 
}

// Media Quries 

@media only screen and (max-width: 991px) {


    .navbar {
        padding: 10px 50px;
    }

    button.navbar-toggler {
        background: $bg-color;
        width: 56px;
        height: 36px;
        border: 1px solid $bg-color;

        &:focus {
            border: 1px solid $bg-color;
            outline: 0 !important;
        }
    }

    .dropdown-menu {
        margin-top: 40px !important;
        margin-left: -51px !important;
    }
}


@media only screen and (max-width: 576px) {

    .navbar {
        padding: 10px 20px !important;
    }

    .dropdown-menu {
        width: auto !important;
        margin-left: -21px !important;
    }
}


section {

    .row {
        background-image: url(showbar.png) lightgray 50% / cover no-repeat;
        position: relative;
        padding: 50px 130px;
    }

    .heading {
        padding: 80px 60px 18px 100px;
        @include font();

        h2 {
            color: $main-color;
            font-size: 48px;
            font-weight: 700;
            @include font();
            width: 265px;
            padding: 4px 8px;
            background: rgba(0, 0, 0, 0.65);
        }

        p {
            color: $main-color;
            @include font();
            font-size: 24px;
            font-weight: 400;
            width: 420px;
            background: rgba(0, 0, 0, 0.65);
            padding-left: 7px;
            margin-top: 15px;
        }

        .btn {
            padding: 0 12.5px;
            height: 52px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 4px;
            border: 0px solid #3D81F5;
            background: #3D81F5;
            box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.25);
        }

    }

    @media only screen and (max-width: 1024px) {
        .row {
            padding: 15px 80px;
        }
    }

    @media only screen and (max-width: 768px) {
        .row {
            padding: 10px 30px;

            .heading {
                padding: 80px 650px 18px 90px;
            }
        }
    }

    @media only screen and (max-width: 576px) {
        .row {
            padding: 10px;
            background: url(show.png) lightgray 50% / cover no-repeat;
            position: relative;

            .heading {
                padding: 50px 0px 18px 5px;
            }
        }
    }

    @media only screen and (max-width: 450px) {
        .row .heading p {
            width: auto;
        }
    }

    @media only screen and (max-width: 300px) {
        .row .heading h2 {
            width: auto;
        }
    }

}

.cont {
    padding: 20px 130px 120px 130px;
    @include font();
    margin: 0 auto;

    .p {
        color: $dark-color;
        font-size: 20px;
        font-weight: 400;
        margin-top: 10px;
    }

    .row-2 a {
        text-decoration: none;
    }

    .card {
        width: 190px;
        height: 350px;
        border: none;
        border-radius: 0;
        cursor: pointer;
        margin-top: 10px;
        margin-left: -15px;

        p {
            color: $dark-color;
            @include font();
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
        }

        img {
            border-radius: 0;
        }

        .price {
            @include max(#333, 'Roboto', 700, 18px);
        }

        .card-body {
            padding-left: 0;
        }
    }

    .card-2 {
        border-radius: 4px;
        border: 0px solid $dark-color;
        background: $dark-color;
        width: 190px;
        height: 200px;
        justify-content: center;
        align-items: center;
        @include max(#fff, 'Raleway', 500, 16px);
    }

    @media only screen and (max-width: 1024px) {

        padding: 20px 40px 120px 40px;

        .card {
            width: auto !important;
            height: auto !important;
        }
    }

    @media only screen and (max-width: 768px) {

        padding: 20px 40px 20px 40px;

    }

    @media only screen and (max-width: 576px) {

        padding: 20px 15px 20px 15px;

    }

    @media only screen and (max-width: 400px) {

        padding: 15px;
        width: 100%;

        .card {
            width: auto;
        }

        .card-2 {
            height: auto !important;
            font-size: 12px;
            width: auto !important;
        }
    }

}


.footer {
    padding: 20px 120px 20px 120px;

    .details {

        p {
            @include max(#AAA, 'Raleway', 700, 16px);
        }

        li {
            list-style: none;

            a {
                text-decoration: none;
                @include max(#1451B8, 'Raleway', 500, 12px);
            }
        }
    }

    @media only screen and (max-width: 768px) {

        padding: 10px 50px 20px 50px;

    }

    @media only screen and (max-width: 576px) {

        padding: 30px 10px 20px 10px !important;

    }
}


// Modal css start


.modal-content {
    margin-top: 100px;
    padding: 30px 60px 40px 60px;
    @include font();

    .close-btn {
        font-size: 40px;
        font-weight: 400;

        &:focus {
            outline: 0 !important;
        }
    }

    .form-group {
        padding-top: 15px;

        .form-control {
            @include max(#333, 'Raleway', 500, 12px);

            &:focus {
                outline: none !important;
                outline-width: 0 !important;
                box-shadow: none;
            }
        }
    }

    .form-check {
        padding-top: 15px;
        @include max(#333, 'Raleway', 500, 14px);

        .form-check-input {
            width: 16px;
            height: 16px;
            background: #C4C4C4;
            cursor: pointer;
        }
    }

    .btn {
        height: 52px;
        border-radius: 4px;
        border: 0px solid #3D81F5;
        background: #3D81F5;
        margin-top: 30px;
        @include max(#fff, 'Raleway', 400, 16px);
    }

    @media only screen and (max-width: 576px) {

        margin-top: 50px;
        padding: 30px 30px 40px 30px;
    }
}