@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;1,100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Princess+Sofia&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@500&family=Salsa&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@mixin font() {
    font-family: 'Raleway', sans-serif;
}

@mixin max($value1, $value2, $value3, $value4) {
    color: $value1;
    font-family: $value2;
    font-weight: $value3;
    font-size: $value4;
}

// colors
$main-color: #fff;
$bg-color: #EF9814;
$dark-color: #333;


.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.header {
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: #4A5568 !important;
    padding: 10px 135px;

    .navbar-brand {
        @include max(#F7FAFC, 'Princess Sofia', 400, 24px);
    }

    .navbar-nav {
        margin-left: 30px;

        .nav-item {

            .nav-link {
                @include max(#CCC, 'Raleway', 500, 16px);
            }

            .active {
                color: $main-color !important;
            }
        }
    }

    .navbar-cart .btn {
        width: 96px;
        height: 36px;
        border-radius: 4px;
        border: 0px solid $bg-color;
        background: $bg-color;
        @include max(#fff, 'Raleway', 500, 16px);

        img {
            object-fit: contain;
            margin-right: 10px;
        }
    }

    // Login form start  
    .dropdown {
        .btn-1 {
            background: transparent;
            border: none;

            &:focus {
                box-shadow: none;
            }
        }

        .dropdown-menu {
            padding: 15px 25px;
            width: 350px;
            background: #4A5568;
            border: 1px solid #4A5568;
            border-radius: 0;
            margin-top: 15px;
            margin-left: -70px;
            color: $main-color;

            p {
                @include font();
            }

            .form-group .btn {
                height: 52px;
                color: $main-color;
                border: 1px solid $bg-color;
                @include font();

                &:hover {
                    background: $bg-color;
                }
            }

        }
    }

    // Login form ends 
}

// Media Quries 

@media only screen and (max-width: 991px) {


    .navbar {
        padding: 10px 50px;
    }

    button.navbar-toggler {
        background: $bg-color;
        width: 56px;
        height: 36px;
        border: 1px solid $bg-color;

        &:focus {
            border: 1px solid $bg-color;
            outline: 0 !important;
        }
    }

    .dropdown-menu {
        margin-top: 40px !important;
        margin-left: -51px !important;
    }
}


@media only screen and (max-width: 576px) {

    .navbar {
        padding: 10px 20px !important;
    }

    .dropdown-menu {
        width: auto !important;
        margin-left: -21px !important;
    }
}

section {
    .cards {
        padding: 40px 130px 200px 130px;

        h1 {
            color: $dark-color;
            @include font();
            font-size: 36px;
            font-weight: 500;
        }

        .p-1 {
            color: $dark-color;
            @include font();
            font-size: 16px;
            font-weight: 400;
            margin: 20px 0 30px 0;
        }

        .card {
            width: 350px;
            border: none;
            cursor: pointer;
            margin-top: 40px;
            margin-left: -20px;

            .image img {
                border-radius: 0;
                width: 100px;
                height: 60px;
                object-fit: contain;

            }

            .card-body {
                padding: 0;

                h5 {
                    @include max(#333, 'Raleway', 400, 18px);
                }

                .card-text {
                    margin-top: -5px;
                    @include max(#333, 'Raleway', 400, 14px);
                }

                h3 {
                    @include max(#333, 'Roboto', 700, 24px);
                }
            }

            .trash {
                display: inline-grid;
                width: 40px;

                .img-2 {
                    margin-top: 30px;
                }
            }

        }

    }

    .payment {
        background: #F7FAFC;
        padding: 150px 140px;

        .table {
            td {
                border: none;
                padding: 15px;
                padding-left: 0;
                @include max(#000, 'Raleway', 400, 16px);
            }

            th {
                text-align: right;
                border: none;
                padding: 7px;
                padding-right: 0;
                @include max(#000, 'Roboto', 400, 24px);
            }

            tr:nth-child(2) {
                border-bottom: 1px solid #CCC;
            }

            .tr-3 td {
                padding-top: 20px;
                font-size: 24px;
            }

            .tr-3 th {
                font-size: 24px;
                font-weight: 500;
                padding-top: 20px;
            }
        }
    }

    .btn-block {
        @include font();
        font-size: 16px;
        font-weight: 500;
        background: #3D81F5;
        border: 1px solid #3D81F5;
        border-radius: 4px;
        outline: 0;
        padding: 15px 0px;
    }

    @media only screen and (max-width: 1024px) {

        .cards {
            padding: 40px 120px 200px 120px;
        }

        .payment {
            padding: 150px 50px !important;
        }
    }

    @media only screen and (max-width: 991px) {

        .cards {
            padding: 40px 40px 200px 40px !important;
        }
    }

    @media only screen and (max-width: 768px) {

        .cards {
            padding: 40px 50px 30px 50px !important;
        }

        .payment {
            padding: 25px 50px !important;
        }
    }

    @media only screen and (max-width: 576px) {

        .cards {
            padding: 40px 20px 30px 20px !important;
        }

        .payment {
            padding: 25px 20px !important;
        }
    }

    @media only screen and (max-width: 400px) {


        .card {
            width: auto !important;
            height: auto !important;
        }

        .table {
            width: 100%;
        }

        .payment {
            padding: 20px 30px 50px 30px;
        }
    }

}

.footer {
    padding: 20px 120px 20px 120px;

    .details {

        p {
            @include max(#AAA, 'Raleway', 700, 16px);
        }

        li {
            list-style: none;

            a {
                text-decoration: none;
                @include max(#1451B8, 'Raleway', 500, 12px);
            }
        }
    }

    @media only screen and (max-width: 768px) {

        padding: 20px 40px !important;

    }

    @media only screen and (max-width: 576px) {

        padding: 30px 10px 20px 10px !important;


    }
}


// Modal css start


.modal-content {
    margin-top: 100px;
    padding: 30px 60px 40px 60px;
    @include font();

    .close-btn {
        font-size: 40px;
        font-weight: 400;

        &:focus {
            outline: 0 !important;
        }
    }

    .form-group {
        padding-top: 15px;

        .form-control {
            @include max(#333, 'Raleway', 500, 12px);

            &:focus {
                outline: none !important;
                outline-width: 0 !important;
                box-shadow: none;
            }
        }
    }

    .form-check {
        padding-top: 15px;
        @include max(#333, 'Raleway', 500, 14px);

        .form-check-input {
            width: 16px;
            height: 16px;
            background: #C4C4C4;
            cursor: pointer;
        }
    }

    .btn {
        height: 52px;
        border-radius: 4px;
        border: 0px solid #3D81F5;
        background: #3D81F5;
        margin-top: 30px;
        @include max(#fff, 'Raleway', 400, 16px);
    }

    @media only screen and (max-width: 576px) {

        margin-top: 50px;
        padding: 30px 30px 40px 30px;
    }
}


// Modal css end