* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Raleway', sans-serif;

    .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    input:focus,
    .btn:focus {
        box-shadow: none !important;
        outline: none !important;
    }
}