// Modal css start


.modal-content {
    margin-top: 100px;
    padding: 30px 60px 40px 60px;


    .close-btn {
        font-size: 40px;
        font-weight: 400;

        &:focus {
            outline: 0 !important;
        }
    }

    .form-group {
        padding-top: 15px;

        .form-control {
            @include max($dark-color, $font, 500, 12px);

            &:focus {
                outline: none !important;
                outline-width: 0 !important;
                box-shadow: none;
            }
        }
    }

    .form-check {
        padding-top: 15px;
        @include max($dark-color, $font, 500, 14px);

        .form-check-input {
            width: 16px;
            height: 16px;
            background: #C4C4C4;
            cursor: pointer;
        }
    }

    .btn {
        height: 52px;
        border-radius: 4px;
        border: 0px solid #3D81F5;
        background: #3D81F5;
        margin-top: 30px;
        @include max($white-color, $font, 400, $font-base);
    }

    @include sm-screen() {

        margin-top: 50px;
        padding: 30px 30px 40px 30px;
    }
}