// Colors

$dark-color: #333;
$black: #000;
$orange-color: #EF9814;
$f-weight: 400;
$white-color: #fff;
$bg-color: #F7FAFC;
// Font sizes
$font-base: 16px;
$font-nav: 18px;
$font-heading1: 42px;
$font-heading3: 36px;
$font: 'Raleway';
// Screen Sizes
$xxl-screen: 1400px;
$xl-screen: 1200px;
$xlg-screen:1024px;
$lg-screen: 992px;
$md-screen: 768px;
$sm-screen: 576px;
$xs-screen: 400px;